.input {
    box-sizing: border-box;
    border: 1px solid #AEAEAE;
    border-radius: 20px;
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding: 2%;
    padding-left: 4%;

}

textarea:focus, input:focus{
    outline: none;
}

#welcome2 {
    display: inline-block;
    font-size:30px;
}

#logo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#feedmelogo {
    width: 70%;
    height: 70%;
}

#setpsw {
    float: right;
    text-decoration:none;
    color:black;
}

#checkbox {
    margin-right: 3%;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 10%;
    vertical-align: middle;
    border: 1px solid #ddd;
    /* appearance: none;
    -webkit-appearance: none; */
    /* outline: none; */
    cursor: pointer;
}


#selecter {
    /* margin-left: auto; 
    margin-right: 0; */
    float: right;
    vertical-align: center;
}

/* .checkbox-round:checked {
    background-color: gray;
} */

.body #info {
    width: 60%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}

.infos {
    margin-top: 2%;
    margin-bottom: 2%;
}

#dashLine {
    display: flex;
    align-items: center;
}

#line {
    margin:5px 0;
    height:2px;
    width: 50%;
    background:
      repeating-linear-gradient(90deg,rgb(198, 191, 191) 0 5px,#0000 0 7px)
      /*5px red then 2px transparent -> repeat this!*/
}

#signup{
    border-radius: 80px;
    cursor:pointer;
    border:0 none;
    height: 40px;
    font-family: Open Sans;
    font-size: 17px;
}

#google-icon {
    display:'flex';
    justify-content:'center';
    align-items:'center';
    margin: 2%;
}

#external {
    display: flex;
    align-items: center;
    justify-content: center;
}

#text {
    margin-left: 3%;
    margin-right: 3%;
}

.body {
    display: flex;
    width:80%;
    height:80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container {
    /* position:fixed; */
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#googlelogo {
    margin:3%;
    padding:20%;
    border:1px solid rgb(239, 155, 155); 
    border-radius:50%;
}

.twitter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    border:1px solid rgb(239, 155, 155); 
    background-color: #ffffff;
    padding: 5px 5px;
    margin: 2%;
}
  
.twitter-button img {
    /* margin-right: 10px; */
    height: 40px;
    width: 40px;
}

label:hover {
    background:#eee;
    cursor:pointer;
}

@media screen and (max-width: 750px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 750px) {
    #feedmelogo {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .container .body {
        justify-content: start;
        width: 100%;
    }
}
