.action-bar {
    display: flex;
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.8em;
}

.action {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon {
    margin-right: 5px;
}

.text {
    font-size: small;
    font-weight: 700;
}