.searchbar-container {
    width: 70%;
    height: auto;
    padding: 5vw;
    /* background-color: antiquewhite; */
}

.search-introduction {
    font-size: 2rem;
    margin: 1vw;
}

.searchbar {
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
}

.combined-searchbar {
    width: 100%;
    display: flex;
}

.combined-searchbar #search-bar{
    /* border: 1px solid blueviolet; */
    border-radius: 0 10px 10px 0;
    border: 1px solid black;
    border-left: 0px;
    border-bottom: 0px;
}

.combined-searchbar .search-filter {
    border-bottom: 0;
}

.search-filter {
    width: fit-content;
    /* margin-right: 1em; */
    padding: 1em;
    cursor: pointer;
    position: relative;
    background: aliceblue;
    border: 1px solid rgba(43, 41, 41, 0.615);
    border-radius: 10px 0 0 10px;
}

.default-filter {
    font-size: 1.5em;
    /* text-align: center; */
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .default-filter {
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    .default-filter svg{
        display: none;
    }
}

.default-filter-text {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

@media screen and (max-width: 600){
    .default-filter-text {
        margin-left: 0;
        margin-right: 0;
    }
}

.search-filter ul {
    width: 100%;
    position: absolute;
    list-style: none;
    top: 110%;
    left: 0;
    background: aliceblue;
    font-size: 1.5em;
    border-radius: 10px;
    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s;
}

@media screen and (max-width: 600px) {
    .search-filter ul{
        font-size: 1em;
        width: auto;
    }
}

.search-filter ul li {
    padding: 5%;
}

#search-bar {
    width: 80%;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0 10px 10px 0;
    border: 1px solid rgba(43, 41, 41, 0.615);
    border-left: 0px;
}


@media screen and (max-width: 600px) {
    #search-bar {
        font-size: 1em;
    }
}

.search-dropdown {
    /* margin-top: 1em; */
    width: 100%;
    height: auto;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.8s;
    /* border-radius: 10px; */
}

.choosed-ingred {
    width: 100%;
    display: flex;
    padding-left: 3%;
    /* border-radius: 0 0 10px 10px; */
    border: 1px solid rgba(43, 41, 41, 0.147);
    border-top: none;
    flex-wrap: wrap;
}

.search-ingredients {
    width: 100%;
    display: flex;
    padding: 3%;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(43, 41, 41, 0.147);
    border-top: none;
    flex-wrap: wrap;
}

.ingredient {
    height: auto;
    width: auto;
    margin: 2%;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    padding: 2%;
}

.able-cancel {
    display: flex;
    align-items: center;
}


