.main {
    height: 90vh;
    width: 100vw;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.feild {
    height: 30vh;
    width: 100vw;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.setting-bar-button{
    left: 5vw;
    height: 5vh;
    width: 20vw;
    border-radius: 10px;
    background-color: lightgray;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.setting-bar-button-text{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.keyin {
    height: 25vh;
    width: 100vw;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.flex_container {
    width: 60vw;
    left: 20vw;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#username {
    width: 40vw;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 1.5%;

    position: relative;
    justify-content: flex-start;

    height: 6vh;
}

#categories {
    width: 40vw;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 1.5%;

    position: relative;
    justify-content: flex-start;

    height: 10vh;
}

#fridge {
    width: 40vw;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 1.5%;

    position: relative;
    justify-content: flex-start;

    height: 18vh;
}

#not_on {
    display: block;
    height: 3vh;
    width: 3vh;
}

.submit-container {
    height: 3vh;
    width: 90vw;
    bottom: 8vh;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.submit-button {
    border-radius: 8px;
    background-color: lightgrey;
}