.background-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 130px;
}

.modal-container {
    width: 80%;
    height: fit-content;
    display: flex; 
    flex-direction: column;
    padding: 20px;
    background: #FFFFFF;
    opacity: 0.9;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.modal-container-from-data {
    height: fit-content;
    display: flex; 
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.modal-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.top-part {
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
}

.image {
    width: 35%;
    /* background-color: aqua; */
}

.image img{
    max-height:100%; 
    max-width:100%;
    border-radius: 15px;
}

.description {
    width: 60%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    font-size: 3em;
    text-align: center;
    font-weight: 500;
}

.serving-size {
    font-size: 1.5em;
    margin: 5px;
}

.change-btn {
    font-size: small;
    font-weight: 500;
}

.change-btn button{
    background: green;
    border-radius: 10px;
    color: white;
    border-style: none;
    height: 35px;
    font-size: small;
    font-weight: 500;
}

.modal-content {
    width: 100%;
    padding: 5%;
    flex-direction: row;
}

.ingredients {
    /* margin-top: 3rem; */
    width: 40%;
}

.instructions {
    padding-inline-start: 0;
    width: 58%;
    margin-left: 2%;
}

@media screen and (max-width: 600px) {
    .modal-content {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .ingredients, .instructions {
        width: 100%;
    }
}


.exit {
    display: flex;
    flex-direction: row-reverse;
}

.exit:hover {
    cursor: pointer;
}

.topic {
    font-size: large;
    font-weight: 500;
}

.content {
    font-size: small;
    padding-inline-start: 1em;
}

ol {
    padding-left: 1.2rem;
}

ul {
    padding-left: 0;
}

.comment-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 4%;
}

.comments{
    font-size: 30px;
}

.single-comment-container {
    /* margin: 1%; */
    width: 100%;
    height: fit-content;
    display: flex; 
    flex-direction: row;
    padding: 1em;
    /* background: #FFFFFF; */
    /* background-color: beige; */
    /* opacity: 0.9; */
    /* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15); */
    border-radius: 15px;
    align-items: center;
}

.comment-avatar {
    width: 8%;
}

.comment-avatar img{
    width: -webkit-fill-available;
    border-radius: 50px;
}

.comment {
    width: auto;
    margin-left: 1em;
    font-size: 1.5em;
}

.nameAndTime {
    display: flex;
    align-items: center;
}

.commenter {
    font-size: 1em;
    font-weight: 800;
}

.comment-time {
    font-size: smaller;
    /* font-style: italic; */
    opacity: 0.5;
    margin-left: 1em;
}

.comment-input{
    margin: 1em;
    display: flex;
    align-items: center;
}

.comment-input input[type="text"] {
    width: 80%;
    border-radius: 10px;
    height: fit-content;
    padding: 5px;
    margin-left: 1em;
    border-style: solid;
    border-color: darkgrey;
}

.submit-text {
    border-radius: 10px;
    padding: 5px;
    border-style: none;
    width: 10%;
    /* height: 10%; */
    margin-left: 1em;
}


.recipeedit-fixed-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: 5px 20px 10px 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    background-color: #E3DBF0;
    color: black;
    font-size: small;
    font-weight: 500;
    cursor: pointer;
    z-index: 1000;
}

.hover-effect:hover {
    background-color: antiquewhite;
    opacity: 1;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 1em;
}
