.recipeadd-fixed-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: 5px 20px 10px 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    background-color: #E3DBF0;
    color: black;
    font-size: small;
    font-weight: 500;
    cursor: pointer;
    z-index: 999;
}

.recipeadd-icon {
    display: inline;
    margin: 3px 10px 3px 0px;
    font-size: medium;
}

.recipe-add-title {
    font-size: x-large;
    font-weight: 600;
}

.recipeadd-btn {
    font-size: small;
    margin: 8px;
    vertical-align: top;
    font-weight: 500;
    border: none;
    background-color: #E3DBF0;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.recipeadd-preview {
    width: 80%;
}

.recipeadd-preview-image {
    width: 100%;
    margin: 20px;
}

.recipeadd-table {
    font-size: small;
    margin: 2%;
}

.recipeadd-table th {
    width: 100px;
}

.recipeadd-input {
    width: 150px;
    margin: 10px;
}

.recipeadd-input-invalid {
    width: 150px;
    margin: 10px;
    border-color: red;
}

.recipeadd-textarea {
    width: 60%;
    height: 100px;
    margin: 10px;
}

.recipeadd-textarea-invalid {
    width: 60%;
    height: 100px;
    margin: 10px;
    border-color: red;
}

.recipeadd-instruction-btn {
    font-size: small;
    margin: 45px 10px;
    vertical-align: top;
    font-weight: 500;
    border: none;
    background-color: #E3DBF0;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.recipeadd-image-invalid{
    color: red;
}