@charset "UTF-8";
* {
  font-family: "Open Sans";
}

.main-mypage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  /* margin-top: 5%; */
  /* margin-left: 5%; */
}
.main-mypage .left-section {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-mypage .left-section .user-info-container {
  padding: 4rem 1rem 4rem 4rem;
  flex-direction: column;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-end;
}
.main-mypage .left-section .user-info-container .user-middle-container {
  display: flex;
  flex-direction: column;
  /* max-width: 40%; */
}
.main-mypage .left-section .user-info-container .user-pic-container {
  position: relative;
  /* margin-top: 10%; */
  /* margin-bottom: 10%; */
  text-align: center;
}
.main-mypage .left-section .user-info-container .user-pic-container .user-pic {
  max-height: 100%;
  max-width: 100%;
  text-align: center;
}
.main-mypage .left-section .user-info-container .user-name-container {
  position: relative;
  text-align: center;
  margin: 5%;
  font-size: 1.8em;
  clear: both; /*清除浮動*/
}
.main-mypage .left-section .user-info-container .logout-btn {
  position: relative;
  border: none;
  /* margin-top: 10%; */
  display: flex;
  text-align: center;
  background-color: none;
  justify-content: center;
  align-items: center;
}
.main-mypage .left-section .user-info-container .logout-btn .logout-text{
  margin-right: 2%;
}

.main-mypage .left-section .user-info-container .logout-btn:hover {
  color: #c7c7c7;
  transition: 0.2s;
  cursor: pointer;
}
.main-mypage .right-section {
  width: 50%;
  height: 100%;
  /* margin-top: 5%; */
}
.main-mypage .right-section .setting-bar-container {
  width: 100%;
  left: 10%;
  top: 20%;
  display: flex;
  flex-direction: column;
}
.main-mypage .right-section .setting-bar-container .setting-bar {
  justify-content: space-around;
  font-size: 1.5em;
  box-shadow: 3px 3px 6px #d5d5d5;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  border-radius: 10px;
  width: 40%;
  height: auto;
  padding: 1em;
  left: 60vw;
  top: 25vh;
  margin: 1em;
  background-color: #c7c7c7;
}

@media screen and (max-width: 600px){
  .main-mypage .right-section .setting-bar-container .setting-bar {
    font-size: 1em;
  }
}

.main-mypage .right-section .setting-bar-container .setting-bar:hover {
  background-color: #9b9b9b;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.main-mypage .right-section .setting-bar-container .setting-bar:hover .setting-bar-icon {
  color: #fff;
  transition: 0.3s;
}
.main-mypage .right-section .setting-bar-container .setting-bar .setting-bar-icon {
  color: #828282;
  /* margin-left: 5%; */
  /* margin-right: 8%; */
}

@media screen and (max-width: 600px){
  .setting-bar-icon {
    display: none;
  }
}

.main-mypage .right-section .setting-bar-container .setting-bar .setting-bar-expand {
  color: #828282;
  /* margin-left: 30%; */
}
.main-mypage .right-section .setting-bar-container .setting-bar .setting-bar-expand:hover {
  transform: rotate(359deg);
  transition: 0.5s;
}/*# sourceMappingURL=MyPage.css.map */