* {
    font-family: 'Open Sans';
}

.main-mypage {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    // justify-content: space-between;
    margin-top: 5%;
    margin-left: 5%;
    .left-section {
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .user-info-container {
            margin-left: 40%;
            flex-direction: column;

            .user-pic-container {
                position: relative;
                // height: 80%;
                // align-items: center;
                margin-top: 10%;
                margin-bottom: 10%;
                text-align: center;

                .user-pic {
                    max-height:100%; 
                    max-width:100%;
                    text-align: center;
                }
            }
            .user-name-container {
                position: relative;
                text-align: center;
                margin: 5%;
                clear:both; /*清除浮動*/
            }
            .logout-btn {
                position: relative;
                border: none;
                margin-top: 10%;
                text-align: center;

                background-color: none;
                &:hover {
                    color: #c7c7c7;
                    transition: 0.2s;
                    cursor: pointer;
                }
            }
        }
    }
    .right-section {
        width: 50%;
        height: 100%;
        margin-top: 5%;

        .setting-bar-container {
            width: 30%;
            left: 10%;
            top: 20%;
            display: flex;
            flex-direction: column;
            // position: relative;

            .setting-bar {
                // position: relative;
                justify-content: space-around;
                // align-items: center;
                font-size: 16px;
                box-shadow: 3px 3px 6px #d5d5d5;
                flex-direction: row;
                display: inline-flex;
                border-radius: 6px;
                width: 270px;
                height: 40px;
                padding: 5%;
                left: 60vw;
                top: 25vh;
                margin: 23px;
                background-color: #c7c7c7;
                &:hover {
                    background-color: #9b9b9b;
                    color: #fff;
                    transition: 0.3s;
                    cursor: pointer;
                    .setting-bar-icon {
                        color: #fff;
                        transition: 0.3s;
                    }
                }

                .setting-bar-icon {
                    color: #828282;
                    margin-left: 5%;
                    margin-right: 8%;
                }
                
                .setting-bar-expand {
                    // position: absolute;
                    color: #828282;
                    // left: 10%;
                    margin-left: 30%;
                    &:hover {
                        transform: rotate(359deg);
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}




