.main {
    height: 90vh;
    width: 80vw;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Poppins;
    font-size: 1.5em;
}

.feild {
    height: 45vh;
    width: 60vw;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.setting-bar-button{
    left: 4vw;
    height: auto;
    width: 15vw;
    border-radius: 10px;
    background-color: lightgray;
    padding: 1%;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.setting-bar-button-icon{
    height: 2vh;
    width: 2vh;
}

.setting-bar-button-expand{
    height: 2vh;
    width: 2vh;
}

.keyin {
    height: 25vh;
    width: 80vw;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.flex-container {
    width: 60vw;
    left: 10vw;

    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    justify-content: space-between;
}

#username {
    width: 40vw;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 1.5%;

    position: relative;
    justify-content: flex-start;

    height: 6vh;
}

#categories {
    width: 40vw;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 1.5%;

    position: relative;
    justify-content: flex-start;

    height: 10vh;
}

#fridge {
    width: 40vw;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 1.5%;

    position: relative;
    justify-content: flex-start;

    height: 18vh;
}

#noti {
    height: 3vh;
    width: 3vh;
    /* right: 38vw; */

    position: relative;
}

#hints {
    left: 1vw;

    position: relative;
}

.notiBlock{
        /* right: 24vw; */
    /* position: relative; */
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: flex-start;
    margin-left: 2vw;
}

.submit-container {
    height: 4vh;
    width: 90vw;
    bottom: 8vh;
    right: 18vw;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.submit-button {
    background: #59B1E6;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    width: 8vw;
    height: 5vh;
    border-style: none;
    margin-top: 5%;
}